*{
    margin: 0%;
    padding: 0%;
}

body{
    background: #2B2A2A;
    color: white;
}

header{
    display: flex;
    align-items: center;
    width: 98%;
    height: 10rem;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    background: #FC4748;
}

main{
    display: flex;
    justify-content: space-between;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 45rem;
    margin: 20px 20px 20px 20px ;
    border-radius: 10px;
    background: #557996;
}

article h3{
    margin: 20px 20px 20px ;
}

/*Section*/
article section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    width: 60%;
    height: 30rem;
}


.Descripcion{
    width: 400px;
    height: 600px;
    border-radius: 7px;
    margin: 20px 20px 20px 20px;
    margin-left: 100px;
    background: #D9D9D9;
    color: black;
}

.content{
    width: 400px;
    height: 600px;
    border-radius: 7px;
    margin: 20px 20px 20px 20px;
    margin-left: 100px;
    background: #D9D9D9;
    color: black;
}

.content ul{
    list-style: none;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin: 20px 20px 20px 20px ;
    border-radius: 10px;
    background: #FEB85F;
}

.PHomer{
    width: 300px;
    height: 400px;
    margin-left: 150px;
    margin: auto;
}

footer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
    background: #D9D9D9;
}

footer a{
    text-decoration: none;
}