* {
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(../img/Fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    color: rgb(30, 100, 79);
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.userlogin {
    background-color: #ffffffb0;
    width: 600px;
    height: 50px;
    text-align: center;
    margin-top: 10%;
}

input{
    font-size: 20px;
    font-style: italic;
    color: rgba(28, 108, 59, 0.897);
}


.passwordlogin {
    background-color: rgba(255, 255, 255, 0.799);
    width: 600px;
    height: 50px;
    text-align: center;
    margin-top: 10%;

}

.userid{
    margin-right: 5px;
    padding-left: 5px;
    float: center;

    height: 25px;
    width: 300px;
    border: solid 2px #02ff24;
    border-radius: 10px;
}

/*Botones*/
.buttons{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons button{
    border-radius: 15px;
    width: 130px;
    height: 35px;
}

.buttons img {
    width: 10px;
    height: 10px;
}