*{
    margin: 0;
    padding: 0;
    font-family: 'Arial';
}

header{
    display: flex;
    justify-content:left;
    align-items: center;
    background: rgba(0, 0, 0, 0.804);
    width: 100%;
    height: 4rem;
}

.dHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    background: #fff;
    width: 100px;
    height: 40px;
}

.dHeader:hover{
    background: #A7A5A6;
    color: white;
}

a{
    color: black;
    text-decoration: none;
}

body{
    background: #FF5600;
}

.containerf{
    padding: 60px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF9D1F;
    color: white;
    width: 650px;
    height: 400px;
    margin: auto;
    border-radius: 15px;
}

h1{
    text-transform: uppercase;
    font-size: 30px;
}

.input-i{
    width: 200px;
    height: 25px;
}

.p-final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 70px;
    background-color: #ffcb86c7;
    border-radius: 5px;
    padding-left: 30px;
    margin: auto;
}

button{
    width: 100px;
    height: 40px;
    margin: 10px;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    
}